@model IEnumerable<Web_HW03.Models.BlogPost>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService Authorization
@{
    var canAdd = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Add)).Succeeded;
    var canEdit = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Edit)).Succeeded;
    var canDelete = (await Authorization.AuthorizeAsync(User, MyIdentityData.BlogPolicy_Delete)).Succeeded;
}
@{
    ViewData["Title"] = "Index";
}

<h1>Blog Posts</h1>

@if (canAdd)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
@foreach (var item in Model)
{
    <a asp-action="Friendly" asp-route-slug="@item.URLFriendly" class="h1">@item.Title</a>
    <br />
    <p>
        Posted on @item.Posted.ToShortDateString()
        @if (canEdit)
        {
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
        }
        @if (canDelete)
        {
            <span> | </span>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        }
    </p>
    <p>
        @Html.Raw(item.Body)
    </p>    
}
